# Introdução: Listar todos os autores
Utilize uma consulta SQL para exibir todos os autores cadastrados na tabela `autores`.

Escreva apenas a query SQL na célula abaixo.

In [1]:
import sqlite3
import pandas as pd

In [2]:
def format_df(result, cursor):
    colunas = [desc[0] for desc in cursor.description]
    df = pd.DataFrame(result, columns=colunas)
    return df

In [3]:
from tests import tests

# Exercício 1:

In [8]:
# Defina sua consulta SQL abaixo
query = "SELECT * FROM autores"  # Exemplo, substitua pela sua resposta

In [9]:
# NÃO MEXA!
conn = sqlite3.connect('../biblioteca.db')
cursor = conn.cursor()
cursor.execute(query)
resultado = cursor.fetchall()
df = format_df(resultado, cursor)
conn.close()
display(df)

   id                        nome  nascimento
0   1            Machado de Assis        1839
1   2           Clarice Lispector        1920
2   3                 Jorge Amado        1912
3   4            Graciliano Ramos        1892
4   5            Cecília Meireles        1901
5   6             Monteiro Lobato        1882
6   7  Carlos Drummond de Andrade        1902
7   8             Manuel Bandeira        1886
8   9    João Cabral de Melo Neto        1920
9  10              Guimarães Rosa        1908

In [10]:
# Teste automático do exercício
tests.testa_consulta_autores(query)

'Parabéns! Sua consulta está correta e retorna exatamente o esperado.'